asyncio
aiofiles
aioshutil
apscheduler
cloudscraper
fastapi
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
langcodes
language-data
jinja2
lxml
motor
natsort
pillow
psutil
pymongo
pyrotgfork
python-magic
pytz
requests
telegraph
tenacity
tgcrypto
urllib3
uvicorn
yt-dlp[default,curl-cffi]
