asyncio
aiofiles
aiohttp
aioshutil
anytree
apscheduler
dnspython
fastapi
gunicorn
httpx
langcodes
language-data
jinja2
lxml
motor
natsort
par2cmdline-turbo
pillow
psutil
pycountry
pymongo
pyrotgfork
python-magic-bin
pytz
requests
tenacity
tgcrypto
urllib3
uvicorn
yt-dlp[default,curl-cffi]
telegraph